body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 14px/1.5 Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    background: #f2f2f2;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;

}
a{
    text-decoration: none;
    color: #222;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
div{
    box-sizing: border-box;
}
/* 搜索模块 */
.search-index{
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-width: 340px;
    max-width: 540px;
    height: 44px;
    background-color: #F6F6F6;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}


.user{
    width: 44px;
    height: 44px;
    text-align: center;
    color: #2eaae0;
}
.user::before{
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 2px auto -2px;
}
.search{
    position: relative;
    height: 26px;
    border: 1px solid #ccc;
    flex:1;
    margin: 7px 10px;
    font-size: 12px;
    color:#ccc;
    padding-left: 20px;
    line-height: 24px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,.3) ;
}
.search::before{
    content: "";
    position: absolute;
    top:5px;
    left: 5px;
    width: 15px;
    height: 15px;
    background: url(../images/sprite.png) no-repeat -59px -279px;
    background-size: 104px auto ;
    
}

.focus{
    padding-top: 44px;
}
.focus img{
    width: 100%;
}

.local-nav{
    display: flex;
    height: 64px;
    background-color: #fff;
    border-radius: 8px;
    margin: 0 5px;
}
.local-nav li {
    flex:1;
}
.local-nav a{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: 12px;
}
.local-nav li [class^="local-nav-icon"]{
    width: 32px;
    height: 32px;
    margin-top: 8px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
}
.local-nav li .local-nav-icon-icon2{
    background-position: 0 -32px;
}
.local-nav li .local-nav-icon-icon3{
    background-position: 0 -64px;
}
.local-nav li .local-nav-icon-icon4{
    background-position: 0 -96px;
}
.local-nav li .local-nav-icon-icon5{
    background-position: 0 -128px;
}

nav{
    border-radius: 8px;
    margin: 0 4px 3px;
    overflow: hidden;
    /* margin值的意思：上，左右，下 */
}
.nav-common{
    display: flex;
    height: 88px;
    background-color: pink;
}
.nav-common:nth-child(2){
    margin: 3px 0;
}
.nav-items{
    flex: 1;
    /* 这里再写display: flex也没关系，可以同时存在 flex：1 和 display: flex */
    display: flex;
    flex-direction: column;
}
.nav-items a{
    flex:1;
    text-align: center;
    line-height: 44px;
    font-size: 14px;
    color: #fff;
    /* 文字阴影 */
    text-shadow: 1px 1px rgba(0,0,0,.3);
}
.nav-items a:nth-child(2){
    border-top:1px solid #fff;
}
.nav-items:nth-child(-n+2){
    border-right:1px solid #fff;
}
.nav-items:nth-child(1) a{
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}
.nav-common:nth-child(1){
    background: -webkit-linear-gradient(left,#FA5A55,#FA994D);
}
.nav-common:nth-child(2){
    background: -webkit-linear-gradient(left,#4B90ED,#53BCED);
}
.nav-common:nth-child(3){
    background: -webkit-linear-gradient(left,#34C2A9,#6CD559);
}

.subnav-entry{
    display: flex;
    border-radius: 8px;
    background-color: #fff;
    margin: 0 4px;
    flex-wrap: wrap;
    padding: 5px 0;
    box-shadow: 1px 2px rgba(0,0,0,.1);
}
.subnav-entry li{
    /* 里面盒子的百分比是根据父盒子来说的 */
    flex: 20%;
}
.subnav-entry a{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.subnav-entry li [class^="subnav-entry-icon"]{
    width: 28px;
    height: 28px;
    margin-top: 5px;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;
}
.subnav-entry li .subnav-entry-icon-icon2{
    background-position:0 -28px;
}
.subnav-entry li .subnav-entry-icon-icon3{
    background-position:0 -60px;
}
.subnav-entry li .subnav-entry-icon-icon4{
    background-position:0 -95px;
}
.subnav-entry li .subnav-entry-icon-icon5{
    background-position:0 -125px;
}
.subnav-entry li .subnav-entry-icon-icon6{
    background-position:0 -160px;
}
.subnav-entry li .subnav-entry-icon-icon7{
    background-position:0 -195px;
}
.subnav-entry li .subnav-entry-icon-icon8{
    background-position:0 -225px;
}
.subnav-entry li .subnav-entry-icon-icon9{
    background-position:0 -255px;
}
.subnav-entry li .subnav-entry-icon-icon10{
    background-position:0 -285px;
}

.sales-box{
    border-top: 1px solid #ccc;
    background-color: #fff;
    margin: 5px;
}
.sales-hd{
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}
.sales-hd h2{
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}
.sales-hd h2::after{
    position: absolute;
    top: 8px;
    left: 20px;
    content: "";
    width: 75px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}
.sales-hd span{
    position: absolute;
    top: 5px;
    left: 95px;
    background-color: rgba(0,0,0,.3);
    margin-left: 5px;
    padding: 0 10px;
    font-size: 12px;
    border-radius: 10px;
    color: #fff;
}
.more{
    position: absolute;
    top: 0px;
    right: 5px;
    color: #fff;
    border-radius: 20px;
    padding: 3px 20px 3px 3px;
    background:-webkit-linear-gradient(left,#FF506C,#FF6BC6);
}
.more::after{
    content: "";
    position: absolute;
    top: 9px;
    right: 9px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row{
    display: flex;
}
.row a{
    flex: 1;
    border-bottom: 1px solid #eee;
}
.row a img{
    width: 100%;
}
.row a:nth-child(1){
    border-right: 1px solid #eee;
}